/* login page */

@font-face {
    font-family: 'raleway';
    src: url("fonts/raleway-regular.ttf") format("truetype");
}

@font-face {
    font-family: 'roboto-slab';
    src: url('fonts/robotoslab-extralight.ttf') format('truetype');
}

@media screen and (max-width: 768px){
    #loginDiv{
        width: 70%;
    }

    .labels{
        width: 90%;
    }

    .logincreds{
        height: 35px;
        font-size: 12pt;
    }

    #loginbtn{
        padding: 7px 10px 10px 10px;
    }
}

@media screen and (min-width: 768px){
    #loginDiv{
        width: 40%;
    }

    .logincreds{
        height: 45px;
        font-size: 14pt;
    }

    #loginbtn{
        font-size: 16pt;
        padding: 8px 10px 10px 10px;
    }

    #register{
        font-size: 16pt;
    }
}

@media screen and (min-width: 1200px){
    #loginDiv{
        width: 20%;
    }
}

html, body{
    font-family: 'raleway';
    margin: 0;
    background-color: #f6f6f6;
    overflow: visible;
}

#loginDiv{
    padding: 50px 35px 60px 35px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2;
}

#loginDiv label{
    display: none;
}

.labels{
    margin: auto;
    text-align: left;
    width: 80%;
}

.logincreds{
    width: 100%;
    border: none;
    padding: 10px;
    background-color: transparent;
    position: relative;
    font-family: inherit;
}

.logincreds:focus{ outline: none; }

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after{
    content: '';
    height: 2px;
    bottom: 1px;
    position: absolute;
    transition: .25s ease all;
    left: 0;
}

.bar:before{
    background: #1b1b1b;
    width: 0;
    z-index: 1;
}

.bar:after{
    background: #a8a8a8;
    width: 100%;
}

.logincreds:focus ~ .bar:before{
    width: 100%;
}

#forgot{
    font-size: 9pt;
    color: #2e2e2e;
    text-decoration: none;
}

#loginbtn{
    -webkit-appearance: none;
    font-family: inherit;
    color: #fff;
    border: 1px solid #1b1b1b;
    width: 40%;
    margin: auto;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, transparent 50%, #1b1b1b 50%);
    transition: .15s ease all;
}

#loginbtn:hover{
    background-image: linear-gradient(to top, transparent 51%, #1b1b1b 50%);
    color: #1b1b1b;
    background-position: 0 100%;
    transition: .15s ease all;
    cursor: pointer;
}

.line{
    border: 1px solid #1b1b1b;
    border-radius: 10px;
    width: 80%;
}

#noAcc{
    font-size: 12pt;
}

#register{
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 10px auto 0 auto;
    width: 35%;
    color: #1b1b1b;
    border: 1px solid #1b1b1b;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #1b1b1b 50%, transparent 50%);
    transition: .15s ease all;
}

#register:hover{
    color: #fff;
    background-image: linear-gradient(to top, #1b1b1b 51%, transparent 50%);
    background-position: 0 100%;
    transition: .15s ease all;
}

#register:active { color: #fff; }

/* user panel */

#navbar{
    padding: 40px 25rem;
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
}

#mobilenav{
    display: none;
}

#container{
    padding: 0 20rem;
    display: flex;
    justify-content: flex-start;
}

#sidebar{
    background-color: #fff;
    width: 17rem;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.37);
}

#main{
    padding: 2rem 0 0 4rem;
    width: 70%;
}

#jumpIn{
    background-color: #fff;
    padding: 1rem 3rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.37);
    line-height: 2;
    margin-bottom: 1rem;
}

#lastSetName{
    font-size: 24pt;
}

#studybtn{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1rem 2rem;
    color: #1b1b1b;
    border: 1px solid #1b1b1b;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #1b1b1b 50%, transparent 50%);
    transition: .15s ease all;
    font-size: 18pt;
    font-weight: bolder;
    margin-bottom: 2rem;
    width: 20rem;
}

#studybtn:hover{
    color: #fff;
    background-image: linear-gradient(to top, #1b1b1b 51%, transparent 50%);
    background-position: 0 100%;
    transition: .15s ease all;
}

#setCards, #accCards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 4rem;
    grid-row-gap: 3rem;
    margin-bottom: 2rem;
}

.setCard, .accCard{
    margin-top: 1rem;
    padding: 0 3rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.37);
    line-height: 2;
}

.menubtn{
    cursor: pointer;
    display: block;
    transition: .2s ease all;
    padding: 2rem 2rem;
    font-size: 14pt;
    color: inherit;
    text-decoration: none;
}

.menubtn:hover{
    background-color: #1b1b1b;
    color: #fff;
}

@media screen and (max-width: 1200px){
    #navbar{
        display: none;
    }

    #mobilenav{
        position: fixed;
        display: flex;
        justify-content: space-between;
        padding: 2rem 6rem;
        box-sizing: border-box;
        width: 100%;
        font-size: 16pt;
        top: 0;
    }

    #mobileMenu{
        position: fixed;
        box-sizing: border-box;
        width: 100%;
        background-color: #f6f6f6;
    }

    .menubtn{
        padding: 2rem 6rem;
    }

    #sidebar{
        display: none;
    }

    #container{
        padding: 0 4rem;
        display: block;
    }

    #main{
        width: auto;
        padding: 2rem 0;
        margin: 0 auto;
    }

    #studybtn{
        width: auto;
    }

}

@media screen and (max-width: 600px){
    #mobilenav{
        font-size: 12pt;
        padding: 1rem 2rem;
    }

    .menubtn{
        font-size: 14pt;
        padding: 2rem 3rem;
    }

    #container{
        padding: 0 2rem;
    }

    #setCards, #accCards{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 4rem;
        grid-row-gap: 2rem;
        margin-bottom: 0;
    }

    #lastSetName{
        font-size: 16pt;
    }

    #studybtn{
        font-size: 14pt;
    }
}

.navbtn{
    cursor: pointer;
    color: #fff;
    padding: 15px;
    transition: .2s ease all;
}

.navbtn:hover{
    color: #1b1b1b;
    background-color: #fff;
}

.icon{
    margin-right: 20px;
}

#icon-sign-out{
    transform: rotate(180deg);
    display: inline-block;
}

/* admin panel */

#adminRecent{
    margin-top: 0;
}